.conteiner_history {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 40px
}

.conteiner_card {
    display: flex;
    gap: 50px;
    margin-top: 40px;
}