.homepage_container {
   background-color: lightgrey;
   width: 80%;
   height: 80vh;
   margin: auto;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
}

.homepage_header {
    font-size: 56px;
    margin: 55px;
}

.homepage_textabout_container {
    font-size: 28px
}