@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 400;
  src: "fonts/AlumniSans-VariableFont_wght.ttf";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
  font-family: 'Alumni Sans', sans-serif;
  color: black;
  text-decoration: none;
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer components {
  .btn-primary {
    @apply border-2 p-3 rounded-lg hover:bg-sky-200 duration-200 text-xl
  }
  .input-primary {
    @apply p-3 text-xl rounded-lg border-2
  }
  .form-primary {
    @apply flex flex-col gap-6 items-center
  }
  .link-primary {
    @apply text-2xl hover:scale-125 duration-300
  }
  .link-primary-main {
    @apply text-5xl hover:scale-125 duration-300
  }
  .p-primary {
    @apply p-2 text-center text-3xl leading-loose
  }
  .icon-data-primary {
    @apply w-8 h-8 right-2 inset-y-3 absolute
  }
  .input-file-primary {
    @apply file:border-2 file:rounded-lg hover:file:bg-sky-200 file:p-2 file:duration-200 file:text-xl file:bg-inherit
  }
  .media340-p-primary {
    @apply @media340:text-2xl 
  }
  .media340-nav {
    @apply @media340:flex-col h-screen
  }
}