@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 400;
  src: "fonts/AlumniSans-VariableFont_wght.ttf";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
  font-family: 'Alumni Sans', sans-serif;
  color: black;
  text-decoration: none;
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer components {
  .btn-primary {
    @apply border-2 p-4 rounded-lg hover:bg-sky-200 duration-200 text-2xl
  }
  .input-primary {
    @apply p-5 text-2xl rounded-lg border-2
  }
  .form-primary {
    @apply flex flex-col gap-8
  }
  .link-primary {
    @apply text-3xl hover:scale-125 duration-300
  }
  .p-primary {
    @apply p-2 text-center text-5xl leading-loose
  }
  .icon-data-primary {
    @apply w-10 h-10 right-2 inset-y-4 absolute
  }
  .input-file-primary {
    @apply file:border-2 file:rounded-lg hover:file:bg-sky-200 file:p-4 file:duration-200 file:text-2xl file:bg-inherit
  }
}